{% extends 'base.html' %}

{% block head %}
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    // data for ui
    var current_selected = null;
    var opend_search_item = null;
    // get KMO data
    var kmo_data = '{{ kmo_data }}'
    // port data to readeble JSON
    var kmo_data_clean = kmo_data.replace(/&#34;/g, '"');
    kmo_data_clean = kmo_data_clean.replace(/&amp;/g, '&');
    var kmo_data_json = JSON.parse(kmo_data_clean)
    console.log(kmo_data_json)
    // get Sector data
    var sector_data = '{{ sector_data }}'
    // port data to readeble JSON
    var sector_data_clean = sector_data.replace(/&#34;/g, '"');
    var sector_data_json = JSON.parse(sector_data_clean)
    console.log(sector_data_json)
    // info for querys 
    var baseurl = '{{ baseurl }}'
    baseurl = baseurl.replace("/KMOOverview","")
    var search_query = null;
    
    // onload function:
    $(function() {
        create_table()
    });
    function create_table(){
        //document.getElementById("p1").innerHTML = data;
        const KMO_overview_table = document.getElementById('kmo_table');
        KMO_overview_table.innerHTML = "";
        //console.log(KMO_overview_table)

        const keys = Object.keys(kmo_data_json);
        for(let i = 0; i < keys.length; i++){
            //console.log(kmo_data_json[keys[i]])
            place_kmo(keys[i],KMO_overview_table)
        };
    }
    function place_kmo(key,KMO_overview_table){
        kmo_data_json[key]["onderneminsNr"] = key
        // create kmo item 
        let kmo = document.createElement("div");
        kmo.classList.add("KMO_overview_table_item")
        kmo.classList.add("KMO_overview_table_item_score_"+get_abc_score(((Number(kmo_data_json[key].beursnotatie)+Number(kmo_data_json[key].duurzaamheid))/2)))
        kmo.setAttribute("id", kmo_data_json[key].onderneminsNr);
        kmo.innerText = kmo_data_json[key].naam
        // add onclick event 
        kmo.addEventListener('click', function(event) {
            open_kmo_details(kmo_data_json[key])
        })
        // add arrow to item 
        let kmo_arrow = document.createElement("div");
        kmo_arrow.classList.add("KMO_overview_table_item_arrow")
        kmo_arrow.innerText = ">"
        kmo.appendChild(kmo_arrow)
        //console.log(kmo)
        KMO_overview_table.appendChild(kmo);
    }
    function open_kmo_details(kmo_info){
        console.log(kmo_info)
        // make info visable 
        document.getElementById('kmo_info').style.visibility = "visible";

        // unselect pre item 
        if(current_selected !== null && current_selected.innerText !== kmo_info.naam){
            current_selected.classList.remove("KMO_overview_table_item_selected")
        }
        // if new item was selected
        if(current_selected == null || current_selected.innerText !== kmo_info.naam){
            // select new item 
            current_selected = document.getElementById(kmo_info.onderneminsNr);
            current_selected.classList.add("KMO_overview_table_item_selected")

            // fill in info 
            // set name
            set_name_info_item("Info_4",kmo_info.naam,kmo_info.beursnotatie,kmo_info.duurzaamheid)
            // set scores
            set_score_info_item("Info_1",kmo_info.beursnotatie)
            set_score_info_item("Info_2",kmo_info.duurzaamheid)

            // set general info
            set_general_info_item("Info_3",kmo_info.onderneminsNr)
            set_general_info_item("Info_5",kmo_info.email)
            set_general_info_item("Info_6",kmo_info.telefoonNr)
            set_general_info_item("Info_7",kmo_info.webAdres)
            set_general_info_item("Info_8",kmo_info.personeelsbestanden)
            set_general_info_item("Info_9",kmo_info.wcm)
            set_general_info_item("Info_12",kmo_info.b2b)
            // set Sector
            set_sector_info_item("Info_13",kmo_info.ibid)
            // get extra info
            // set Location info
            if(kmo_info.locatie_object === undefined){
                get_locatie_info(kmo_info.LocatieID,kmo_info.onderneminsNr)
            }else{
                set_location_info_item("Info_14",kmo_info.locatie_object)
                get_locatie_info(kmo_info.LocatieID,kmo_info.onderneminsNr)
            }
            // set Balans info
            if(kmo_info.balans_object === undefined){
                get_balans_info(kmo_info.BalansID,kmo_info.onderneminsNr)
            }else{
                set_balans_info_item("Info_15",kmo_info.balans_object)
                get_balans_info(kmo_info.BalansID,kmo_info.onderneminsNr)
            }
            
        }

        // if info is missing go and get it
    }



    // funcions for setting KMO info 
    function set_general_info_item(elementID,text){
        if(text === null){
            document.getElementById(elementID).innerText =  "Geen info"
            document.getElementById(elementID+"_container").classList.add("KMO_overview_info_item_no_info")
        }else{
            document.getElementById(elementID).innerText =  text
            document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_no_info")
        }
    }
    function set_sector_info_item(elementID,sectorID){
        if(sectorID === null){
            document.getElementById(elementID).innerText =  "Geen info"
        }else{
            let data = sector_data_json[sectorID]
            document.getElementById(elementID).innerText =  data.sector
        }
    }
    function set_score_info_item(elementID,score){
        // remove pre colors
        document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_score_A")
        document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_score_B")
        document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_score_C")
        // add new info 
        if(score === null){
            document.getElementById(elementID).innerText =  "Geen info"
        }else{
            score_letter = get_abc_score(score)
            document.getElementById(elementID).innerText = score_letter+" ("+ score+"%)"
            document.getElementById(elementID+"_container").classList.add("KMO_overview_info_item_score_"+score_letter)
        }
    }
    function set_name_info_item(elementID,name,score1,score2){
        // remove pre colors
        document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_score_A")
        document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_score_B")
        document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_score_C")
        // add new info 
        if(name === null){
            document.getElementById(elementID).innerText =  "Geen info"
        }else{
            document.getElementById(elementID).innerText =  name+" ("+Math.round(((Number(score1)+Number(score2))/2))+"%)"
        }
        if(score1 !== null || score2 !== null){
            document.getElementById(elementID+"_container").classList.add("KMO_overview_info_item_score_"+ get_abc_score(((Number(score1)+Number(score2))/2)))
        }
    }
    function set_location_info_item(elementID,location_object){
        if(location_object === null){
            document.getElementById(elementID+"_1").innerHTML = "No info"
            document.getElementById(elementID+"_2").innerHTML = "No info"
            document.getElementById(elementID+"_3").innerHTML = "No info"
            document.getElementById(elementID+"_container").classList.add("KMO_overview_info_item_no_info")
        }else{
            document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_no_info")
            document.getElementById(elementID+"_1").innerHTML = location_object.adres
            document.getElementById(elementID+"_2").innerHTML = location_object.postcode
            document.getElementById(elementID+"_3").innerHTML = location_object.gemeente
        }
    }
    function set_balans_info_item(elementID,balans_object){
        if(balans_object === null){
            document.getElementById(elementID+"_1").innerHTML = "No info"
            document.getElementById(elementID+"_2").innerHTML = "No info"
            document.getElementById(elementID+"_3").innerHTML = "No info"
            document.getElementById(elementID+"_4").innerHTML = "No info"
            document.getElementById(elementID+"_container").classList.add("KMO_overview_info_item_no_info")
        }else{
            document.getElementById(elementID+"_container").classList.remove("KMO_overview_info_item_no_info")
            document.getElementById(elementID+"_1").innerHTML = balans_object.bvdIDnr
            document.getElementById(elementID+"_2").innerHTML = number_to_readeble(balans_object.omzet)
            document.getElementById(elementID+"_3").innerHTML = number_to_readeble(balans_object.balanstotaal)
            document.getElementById(elementID+"_4").innerHTML = number_to_readeble(balans_object.nettoToegevoegdeWaarde) 
        }
    }
    function number_to_readeble(number){
        let formatter = new Intl.NumberFormat('be-BE', {
        style: 'currency',
        currency: 'EUR',
        });
        return formatter.format(number); 
    }
    function get_locatie_info(locatie_ID,kmo_ID){
        if(locatie_ID === null){
            document.getElementById("Info_14").innerText =  "Geen info"
        }else{
            console.log("URL: "+baseurl+"/getLocationInfo/"+locatie_ID)
            $.ajax({
               type:"GET",
               dataType: "json",
               //data:{LocationID: ID},
               url:baseurl+"/getLocationInfo/"+locatie_ID,
               success:function(data)
               {
                    console.log(data)
                    //console.log(data[0])
                    set_location_info_item("Info_14",data[0])
                    kmo_data_json[kmo_ID].locatie_object = data[0]
               },
               error:function() {
                    set_location_info_item("Info_14",null)
               },
               timeout: 5000
            });
        }
    }
    function get_balans_info(balans_ID,kmo_ID){
        if(balans_ID === null){
            document.getElementById("Info_15").innerText =  "Geen info"
        }else{
            console.log("URL: "+baseurl+"/getBalansInfo/"+balans_ID)
            $.ajax({
               type:"GET",
               dataType: "json",
               //data:{LocationID: ID},
               url:baseurl+"/getBalansInfo/"+balans_ID,
               success:function(data)
               {
                    console.log(data)
                    //console.log(data[0])
                    set_balans_info_item("Info_15",data[0])
                    kmo_data_json[kmo_ID].balans_object = data[0]
               },
               error:function() {
                    set_balans_info_item("Info_15",null)
               },
               timeout: 5000
            });
        }
    }
    function avg_score(score1,score2){
        if(score1 === "A" && score2 === "A"){
            return "A"
        }else if(  ((score1 === "B" && score2 === "A") || (score1 === "A" && score2 === "B")) 
                                                       || 
                   ((score1 === "A" && score2 === "C") || (score1 === "C" && score2 === "A")) ){
            return "B"
        }else{
            return "C"
        }
    }
    function get_abc_score(score){
        if(score>=66) return "A"
        if(score>=33) return "B"
        return "C"
    }






    // Search bar functions
    var temp_selected_attribute = null;
    function open_filter_overlag(){
        document.getElementById("search_backdrop").style.visibility = "visible";
        reset_filter_overlay();
        document.getElementById("attribute").selectedIndex = 0;
    }
    function close_filter_overlag(element){
        element.style.visibility = "hidden";
        
    }
    function close_filter(){
        document.getElementById("search_backdrop").style.visibility = "hidden";
    }
    function reset_filter_overlay(){
        let select2 = document.getElementById("select2");
        if(select2 !== null) select2.remove();
        reset_filter3()
    }
    function reset_filter3(){
        let select3 = document.getElementById("select3");
        if(select3 !== null) select3.remove();
        document.getElementById("filter_add").disabled = true; 
        document.getElementById("filter_add").classList.add("KMO_overview_search_filter_button_gray")
    }
    function stop_child_from_inhereting_onclick(e){
        e.stopPropagation()
        // do nothing
    }
    function attribute_selected(element){
        //console.log(element.options[element.selectedIndex].text);
        // try reset next select 
        reset_filter_overlay()
        // add new select 
        temp_selected_attribute = element.options[element.selectedIndex].value
        if((["Menselijk Kapitaal","Natuurlijk Kapitaal","Omzet","Balanstotaal","Netto Toegevoegde Waarde","Aantal werknemers"]).some(bool => temp_selected_attribute === bool)){//temp_selected_attribute
            // add number/score select
            let new_select = document.createElement("select");
            new_select.classList.add("KMO_overview_search_filter_item")
            new_select.setAttribute("id", "select2");
            // add onclick event 
            new_select.addEventListener('change', function() {
                number_score_select(this)
            })

            // addoptions
            new_select.add(create_option_element(false,"select:","0"))
            new_select.add(create_option_element(false,">=",">="))
            new_select.add(create_option_element(false,"<=","<="))
            new_select.add(create_option_element(false,"=","="))
            //appendChild
            document.getElementById("search_filter_container").appendChild(new_select)
        }else{
            // add text select   
            let new_select = document.createElement("select");
            new_select.classList.add("KMO_overview_search_filter_item")
            new_select.setAttribute("id", "select2");
            // add onclick event 
            new_select.addEventListener('change', function() {
                text_select(this)
            })

            // addoptions
            new_select.add(create_option_element(true,"select:","0"))
            new_select.add(create_option_element(false,"Contains:","Contains"))
            new_select.add(create_option_element(false,"Starts with:","Starts with"))
            new_select.add(create_option_element(false,"Ends with:","Ends with"))
            new_select.add(create_option_element(false,"Matches:","Matches"))
            //new_select.add(create_option_element(false,"Order By:","Order By"))
            //appendChild
            document.getElementById("search_filter_container").appendChild(new_select)
        }
    }
    function number_score_select(element){
        // try reset nex select 
        reset_filter3()
        // add new select 
        console.log(element.options[element.selectedIndex].text);
        document.getElementById("search_filter_container").appendChild(create_input_element())
       
    }
    
    function text_select(element){
        // try reset nex select 
        reset_filter3()
        // try add new select 
        console.log(element.options[element.selectedIndex].text);
        let selected_filter = element.options[element.selectedIndex].value
        if(selected_filter === "Order By"){
            // if order by
            let new_select = document.createElement("select");
            new_select.classList.add("KMO_overview_search_filter_item")
            new_select.setAttribute("id", "select3");
            // add onclick event 
            new_select.addEventListener('change', function() {
                score_select(this)
            })

            // add options
            new_select.add(create_option_element(true,"select:","0")) 
            new_select.add(create_option_element(false,"Ascending","Ascending"))
            new_select.add(create_option_element(false,"Descending","Descending"))

            document.getElementById("search_filter_container").appendChild(new_select)
        }else{
            // if text
            document.getElementById("search_filter_container").appendChild(create_input_element())
        }
    }
    function create_input_element(){
        let new_input = document.createElement("input");
        new_input.classList.add("KMO_overview_search_filter_item")
        new_input.setAttribute("id", "select3");
        // add onclick event 
        new_input.addEventListener('blur', function() {
            leave_filter_input(this)
        })
        new_input.addEventListener('keyup', function() {
            leave_filter_input(this)
        })
        return new_input
    }
    function create_option_element(dis,text,value){
        let option_element =  document.createElement("option");
        if(dis) {
            option_element.disabled = true
            option_element.selected = true
        }
        option_element.text = text
        option_element.value = value
        return option_element
    }
    function leave_filter_input(element){
        //console.log("leave")
        if(element.value.length>0){
            console.log("text ")
            last_selected()
        }else{
            console.log("notext ")
        }
    }
    function score_select(element){
        //console.log(element.options[element.selectedIndex].text);
        last_selected()
    }
    function last_selected(){
        //console.log("can add")
        document.getElementById("filter_add").disabled = false; 
        document.getElementById("filter_add").classList.remove("KMO_overview_search_filter_button_gray")
    }
    function finish_creating_filter(){
        //console.log("add")
        let attribute = temp_selected_attribute;
        let select2 = document.getElementById("select2").options[document.getElementById("select2").selectedIndex].value;
        let select3;
        if(document.getElementById("select3").options !== undefined){
            select3 = document.getElementById("select3").options[document.getElementById("select3").selectedIndex].value;
        }else{
            select3 = document.getElementById("select3").value;
        }
       
        // add new filter to filter object 
        if(search_query == null){
            search_query = {"placeholder":"ignore me"}
        }
        search_query[attribute] = {"Type":select2,"input":select3}
        // add new filter to ui list and enable search
        update_filter_list()
        // close filter screen 
        close_filter()
    }
    function update_filter_list(){
        // clear container 
        document.getElementById("chosen_filters").innerHTML = " "; 
        // check if filter items can be shown 
        const keys = Object.keys(search_query);
        console.log(search_query)
        if(keys.length>0){
            // add all filter items
            for(let i = 0; i < keys.length; i++){
                if(keys[i] !== "placeholder"){
                    // add item 
                    document.getElementById("chosen_filters").appendChild(create_filter_item(keys[i],search_query[keys[i]]))
                }
            };
            document.getElementById("start_search").disabled = false; 
            document.getElementById("start_search").classList.remove("KMO_overview_search_filter_button_gray")
        }else{ 
            // add no filter items overlay
            let empty_banner =  document.createElement("div");
            empty_banner.classList.add("KMO_overview_search_right_empty")
            empty_banner.innerHTML = "No filters chosen"
            document.getElementById("chosen_filters").appendChild(empty_banner)
        }
    }
    function create_filter_item(attribute,filter_object){
        console.log(filter_object)
        let filter_element =  document.createElement("div");
        filter_element.classList.add("KMO_overview_search_right_filter_item")
        filter_element.innerText = attribute+" "+filter_object.Type +" "+ filter_object.input
        // add onclick 
        filter_element.addEventListener('click', function() {
            remove_filter_item(attribute)
        })
        // add check?
        return filter_element
    }
    function remove_filter_item(Key){
        delete search_query[Key]; 
        update_filter_list()
    }

    async function do_search(){
        delete search_query["placeholder"]; 
        console.log(search_query)
        console.log("URL: "+baseurl+"/search/KMO")
      
        const response = await fetch(baseurl+"/search/KMO", {
        method: 'POST',
        body: JSON.stringify(search_query), 
        headers: {'Content-Type': 'application/json'}
        });
        const myJson = await response.json(); //extract JSON from the http response
        console.log(myJson)
        // check if order

        // reset view
        kmo_data_json = myJson
        document.getElementById('kmo_info').style.visibility = "hidden";
        create_table()
    }
   
</script>
{% endblock %}

{% block body %}
<div  class="KMO_overview_container">
    <div class="KMO_overview_search_filter_back" id="search_backdrop" onclick="close_filter_overlag(this)"> 
        <div class="KMO_overview_search_filter_container" id="search_filter_container" onclick="stop_child_from_inhereting_onclick(event)">

            <select id="attribute" class="KMO_overview_search_filter_item" onchange="attribute_selected(this)">
                <option disabled selected value> -- select an option -- </option>
                <option value="Naam">Naam</option>
                <option value="Menselijk Kapitaal">Menselijk Kapitaal</option>
                <option value="Natuurlijk Kapitaal">Natuurlijk Kapitaal</option>
                <option value="Ondernemings nummer">Ondernemings nummer</option>
                <option value="Email">Email</option>
                <option value="Telefoon nummer">Telefoon nummer</option>
                <option value="WebAdres">WebAdres</option>
                <option value="Aantal werknemers">Aantal werknemers</option> 
                <option value="WCM">WCM</option>
                <option value="B2B">B2B</option>
                <option value="Sector">Sector</option>
                <option value="Adres">Adres</option>
                <option value="Postcode">Postcode</option>
                <option value="Gemente">Gemente</option>
                <option value="Bank ID">BTW nr</option>
                <option value="Omzet">Omzet</option>
                <option value="Balanstotaal">Balanstotaal</option>
                <option value="Netto Toegevoegde Waarde">Netto Toegevoegde Waarde</option>
            </select>

            <div class="KMO_overview_search_filter_button_conainer">
                <button id="filter_add"  class="KMO_overview_search_filter_button KMO_overview_search_filter_button_gray"  onclick="finish_creating_filter()" >Add</button>
                <button class="KMO_overview_search_filter_button"  onclick="close_filter(this)" >Cancel</button>
            </div>
        </div>
    </div>


    <div class="KMO_overview_search" id="kmo_search">
        <div  class="KMO_overview_search_left" >
            <button class="KMO_overview_search_button" id="show_filter" onclick="open_filter_overlag()">Add filter</button>
            <button class="KMO_overview_search_button KMO_overview_search_filter_button_gray" id="start_search" onclick="do_search()" disabled>Search</button>
        </div>
        <div  class="KMO_overview_search_right"  id="chosen_filters">
            <div  class="KMO_overview_search_right_empty"> No filters chosen </div>
        </div>
    </div>
    <div class="KMO_overview_table" id="kmo_table">Loading... </div>
    <div class="KMO_overview_info" id="kmo_info">
        <div class="KMO_overview_info_titel_name" id="Info_4_container"> <span id="Info_4">Loading... </span></div>

        <div class="KMO_overview_info_Barrior"></div>
        
        <div class="KMO_overview_info_item" id="Info_1_container">Menselijk Kapitaal:<span class="KMO_overview_info_item_score" id="Info_1">Loading... </span></div>
        <div class="KMO_overview_info_item" id="Info_2_container">Natuurlijk Kapitaal:<span class="KMO_overview_info_item_score" id="Info_2">Loading... </span></div>

        <div class="KMO_overview_info_Barrior"></div>

        <div  class="KMO_overview_info_details"> 
            <div class="KMO_overview_info_item" id="Info_3_container">Ondernemings nummer: <br><span id="Info_3">Loading... </span></div>
            <div class="KMO_overview_info_item" id="Info_5_container">Email: <br><span id="Info_5">Loading... </span></div>
            <div class="KMO_overview_info_item" id="Info_6_container">TelefoonNr: <br><span id="Info_6">Loading... </span></div>
            <div class="KMO_overview_info_item" id="Info_7_container">WebAdres: <br><span id="Info_7">Loading... </span></div>
            <div class="KMO_overview_info_item" id="Info_8_container">Aantal werknemers: <br><span id="Info_8">Loading... </span></div>
            <div class="KMO_overview_info_item" id="Info_9_container">WCM: <br><span id="Info_9">Loading... </span></div>
            <div class="KMO_overview_info_item" id="Info_12_container">B2B: <br><span id="Info_12">Loading... </span></div>
            <div class="KMO_overview_info_item" id="Info_13_container">Sector: <br><span id="Info_13">Loading... </span></div>
            
            <div class="KMO_overview_info_item KMO_overview_info_item_complex_1" id="Info_14_container">
                <div class="KMO_overview_info_item_complex_item">Adres: <span  id="Info_14_1"> </span> </div>
                <div class="KMO_overview_info_item_complex_item">Postcode: <span  id="Info_14_2"> </span> </div>
                <div class="KMO_overview_info_item_complex_item">Gemente: <span  id="Info_14_3"> </span> </div>
            </div>

            <div class="KMO_overview_info_item KMO_overview_info_item_complex_2" id="Info_15_container">
                <div class="KMO_overview_info_item_complex_item">BTW nr: <span  id="Info_15_1"> </span> </div>
                <div class="KMO_overview_info_item_complex_item">Omzet: <span  id="Info_15_2"> </span> </div>
                <div class="KMO_overview_info_item_complex_item">Balanstotaal: <span  id="Info_15_3"> </span> </div>
                <div class="KMO_overview_info_item_complex_item">Netto Toegevoegde Waarde: <span  id="Info_15_4"> </span> </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}